@*@{
    ViewBag.Title = "Bit Mask Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
@Scripts.Render("~/Scripts/ProgrammersCalculator.js")

<h2>BitMask</h2>
@using(Html.BeginForm())
{
<table  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" width="100%">
    <tbody>
        <tr>
            <th colspan="3" >BITWISE OPERATORS</th>
        </tr>
        <tr>
            <td rowspan="7"  valign="top">
                <input type="text" name="op1" value="4" size="15"></td>
            <td >
                <input type="button" name="shftRS" class="btn btn-primary" value=" &gt;&gt; " onclick="TestIt(this.form, 0)"></td>
            <td rowspan="6"  valign="top">
                <input type="text" name="op2" value="1" size="15">&nbsp;&nbsp;=&nbsp;</td>
            <td >
                <input type="text" name="rs0" value="" size="15"></td>
        </tr>
        <tr>
            <td >
                <input type="button" class="btn btn-primary" name="shftR" value="&gt;&gt;&gt;" onclick="TestIt(this.form, 1)"></td>
            <td >
                <input type="text" name="rs1" value="" size="15"></td>
        </tr>
        <tr>
            <td >
                <input type="button" class="btn btn-primary" name="shftL" value=" &lt;&lt; " onclick="TestIt(this.form, 2)"></td>
            <td >
                <input type="text" name="rs2" value="" size="15"></td>
        </tr>
        <tr>
            <td>
                <input type="button" class="btn btn-primary" name="bwAND" value="  &amp;  " onclick="TestIt(this.form, 3)"></td>
            <td >
                <input type="text" name="rs3" value="" size="15"></td>
        </tr>
        <tr>
            <td >
                <input type="button" class="btn btn-primary" name="bwOR" value="  |  " onclick="TestIt(this.form, 4)"></td>
            <td >
                <input type="text" name="rs4" value="" size="15"></td>
        </tr>
        <tr>
            <td >
                <input type="button" class="btn btn-primary" name="bwXOR" value="  ^  " onclick="TestIt(this.form, 5)"></td>
            <td >
                <input type="text" name="rs5" value="" size="15"></td>
        </tr>
        <tr>
            <td >
                <input type="button"  class="btn btn-primary" name="bwNOT" value="  ~  " onclick="TestIt(this.form, 6)"></td>
            <td >--</td>
            <td >
                <input type="text" name="rs6" value="" size="15"></td>
        </tr>
        <tr>
            <td colspan="4" >
                
                <textarea name="descr" cols="50" style="margin: 0px 0px 10px; width: 800px; height: 47px;"></textarea>

            </td>
        </tr>
        <tr>
            <td colspan="3" align="center" >
                <input type="reset" name="reset" value="Reset" class="btn btn-primary"></td>
        </tr>
    </tbody>
</table>
}