@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Programmers Calculator</h1>
    <p>Programmers Calculator is a free calculator for programmers which can be used to convert text to and from Base64 encoding, it can also be used to convert text to binary, generate MD5, SHA1, SHA256 hash values of both text and files and several other useful functions that programmers are in need of during the course of their work. Programmers Calculator is free and very lightweight.</p>

</div>

<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        @*<h2>Heading</h2>*@
        @*<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details »</a></p>*@
        @Html.Partial("_GoogleAd")

    </div>
    <div class="span8">
        <h2>Programmers Calculator</h2>
        <p>Programmers Calculator is a free calculator for programmers which can be used to convert text to and from 
            Base64 encoding, it can also be used to convert text to binary, 
            generate MD5, SHA1, SHA256 hash values of both text and files and several other useful functions that programmers are in need of during the course of their work. Programmers Calculator is free and very lightweight</p>
        <p></p>
    </div>

</div>
