@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    
    
   
</hgroup>
<div class="alert alert-error">  
  <a class="close" data-dismiss="alert">×</a>
    <h2 class="error">An error occurred while processing your request.</h2>  
  <strong>@Model.Exception.Message!</strong> 
</div> 
